#client-profile-data,
#shipping-data,
#payment-data{
     border: 1px solid $grayLight !important;
     box-shadow: none;
}
.vtex-omnishipping-1-x-shippingSectionTitle{
    color: $black !important;
    font-size: 12px !important;
    font-weight: 600;
}
.ship-complement,
.ship-reference,
.ship-neighborhood,
.ship-state,
.ship-city,
.ship-receiverName,
.ship-number,
.ship-street label{
    font-size: 12px !important;
}

.orderform-template-holder>div::before{
    order: 1;
}
.orderform-template .cart-template.mini-cart h2{
    padding: 22px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #979797 !important;
    margin: 0px;
    font-size: 0px;
    position: relative;
}
.orderform-template .cart-template.mini-cart h2::before{
    content: "Resumen de Compra";
    position: absolute;
    color: #3D3D3D;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td{
    padding: 20px 0 !important;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr .monetary{
    font-size: 17px !important;
    font-weight: bold;
    color: #1A1A1A !important;
    letter-spacing: 0.5px;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr .info{
    width: auto !important;
    font-size: 17px !important;
    font-weight: bold;
    color: #1A1A1A !important;
    position: relative;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr .info::before{
    position: absolute;
    content: ":";
    right: -5px;
    font-size: 17px !important;
    font-weight: bold;
    color: #1A1A1A;
}
.orderform-template .cart-template.mini-cart .summary-totalizers .totalizers-list{
    padding: 20px 0px;
    padding-top: 0px !important;
    border-top: none !important;
    border-bottom: 2px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 17px;
    tr{
        .info{
            position: relative;
            text-transform: capitalize;
            font-size: 14px !important;
            font-weight: 500;
            color: #1A1A1A;
        }
        .info::before{
            position: absolute;
            content: ":";
            right: -5px;
            top: 0;
            font-size: 14px !important;
            font-weight: 500;
            color: #1A1A1A;
        }
        .monetary{
            font-size: 14px !important;
            font-weight: 500;
            color: #1A1A1A;
        }
    }
}
.container .custom-cart-template-wrap{
    position: initial !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    .cart{
        padding: 0px 22px;
        max-height: calc(100vh - 290px) !important;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 16px;
        li{
            padding: 8px 0px !important;
            a{
                img{
                    width: 60px !important;
                }
            }
            .fn.product-name{
                color: #000;
                letter-spacing: 0.5px;
                font-size: 12px;
                font-family: 'Barlow', sans-serif;
            }
            .description{
                flex-direction: column !important;
                align-items: flex-start !important;
                .price.pull-right{
                    font-size: 15px;
                    color: #262626;
                    font-family: 'Barlow', sans-serif;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
    #go-to-cart-button{
        margin: 0 !important;
        position: initial !important;
        text-decoration: none !important;
        order: 1 !important;
        padding-top: 15px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            position: relative;
            text-decoration: none;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #262626;
        }
        a::before{
            top: -3px;
            position: absolute;
            content: "<";
            left: -12px;
            font-size: 14px;
            font-weight: bold;
            color: #262626;
        }
    }
    .summary-template-holder{
        .row-fluid.summary{
            .forms.coupon-column.summary-coupon-wrap.span7.pull-left{
                display: none !important;
            }
            .span5.totalizers.summary-totalizers.cart-totalizers.pull-right{
                padding-top: 25px;
                box-shadow: 0px -4px 10px -7px #262626;
                .accordion-body.collapse.in{
                    padding: 0px 30px;
                }
            }
        }
    }
}
#client-profile-data{
    .step.accordion-group.client-profile-data.filled,
    .step.accordion-group.client-profile-data.active{
        padding: 18px 22px;
        margin-bottom: 0px !important;
        .accordion-heading{
            .accordion-toggle.collapsed,
            .accordion-toggle.collapsed.accordion-toggle-active{
                span{
                    font-size: 0px !important;
                    position: relative;
                    width: 32%;
                    display: flex;
                    align-items: center;
                }
                span::before{
                    content: "";
                    background: url(https://sanisidrolonasar.vtexassets.com/assets/vtex/assets-builder/sanisidrolonasar.sanisidrolonasar-site-vtex/0.2.1/svg/profile-icon___f246401f4581869e17dc4db45309b381.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 37px;
                    height: 37px;
                }
                span::after{
                    content: "Datos personales";
                    position: absolute;
                    font-size: 16px;
                    right: 0;
                    font-weight: 500;
                    color: #008CBE;
                }
            }
        }
        .accordion-body.collapse.in{
            .accordion-inner{
                .box-step{
                    .form-step.box-info{
                        margin: 0px;
                        .client-profile-email{
                            .email{
                                font-size: 13px;
                                font-weight: 300;
                                color: #5D5D5D;
                            }
                        }
                        .client-profile-summary{
                            margin-top: 5px;
                            display: flex;
                            gap: 5px;
                            flex-direction: column;
                            br{
                                display: none;
                            }
                        }
                    }
                    form{
                        padding-top: 10px !important;
                        div{
                            .row-fluid{
                                .box-client-info-pf{
                                    .client-notice.notice{
                                        font-size: 13px;
                                        color: #5D5D5D;
                                        margin-bottom: 15px !important;
                                    }
                                    .client-email.input.text.required{
                                        display: flex;
                                        margin-bottom: 0px;
                                        flex-direction: column;
                                        label{
                                            width: 6%;
                                            position: relative;
                                            font-size: 0px;
                                            opacity: 0.6;
                                        }
                                        label::before{
                                            content: "Mail";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            left: 0px;
                                        }
                                        label::after{
                                            content: "*";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            right: 0px;
                                        }
                                        input{
                                            border: 0.5px solid #1A1A1A;
                                            padding: 12px 14px;
                                            font-size: 13px;
                                            color: #9B9B9B;
                                        }
                                    }
                                    .client-first-name.input.pull-left.text.required{
                                        margin: 14px 14px 14px 0px;
                                        width: calc(50% - 14px) !important;
                                        label{
                                            width: 20%;
                                            margin: 0px;
                                            margin-bottom: 5px;
                                            position: relative;
                                            font-size: 0px;
                                            opacity: 0.6;
                                        }
                                        label::before{
                                            content: "Nombre";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            left: 0px;
                                        }
                                        label::after{
                                            content: "*";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            right: 0px;
                                        }
                                        input{
                                            width: 100%;
                                            max-width: initial !important;
                                            border: 0.5px solid #1A1A1A;
                                            padding: 12px 14px;
                                            font-size: 13px;
                                            color: #9B9B9B;
                                        }
                                    }
                                    .client-last-name.input.pull-left.text.required{
                                        margin: 14px 0px;
                                        label{
                                            width: 20%;
                                            margin: 0px;
                                            margin-bottom: 5px;
                                            position: relative;
                                            font-size: 0px;
                                            opacity: 0.6;
                                        }
                                        label::before{
                                            content: "Apellido";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            left: 0px;
                                        }
                                        label::after{
                                            content: "*";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            right: 0px;
                                        }
                                        input{
                                            width: 100%;
                                            max-width: initial !important;
                                            border: 0.5px solid #1A1A1A;
                                            padding: 12px 14px;
                                            font-size: 13px;
                                            color: #9B9B9B;
                                        }
                                    }
                                    .client-document.input.pull-left.text.required.mask{
                                        margin: 14px 14px 14px 0px;
                                        width: calc(50% - 14px) !important;
                                        label{
                                            width: 10%;
                                            margin: 0px;
                                            margin-bottom: 5px;
                                            position: relative;
                                            font-size: 0px;
                                            opacity: 0.6;
                                        }
                                        label::before{
                                            content: "Dni";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            left: 0px;
                                        }
                                        label::after{
                                            content: "*";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            right: 0px;
                                        }
                                        input{
                                            width: 100%;
                                            max-width: initial !important;
                                            border: 0.5px solid #1A1A1A;
                                            padding: 12px 14px;
                                            font-size: 13px;
                                            color: #9B9B9B;
                                        }
                                    }
                                    .client-phone.pull-left.text.argentina-phone{
                                        margin: 14px 0px;
                                        label{
                                            width: 20%;
                                            margin: 0px;
                                            margin-bottom: 5px;
                                            position: relative;
                                            font-size: 0px;
                                            opacity: 0.6;
                                        }
                                        label::before{
                                            content: "Teléfono";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            left: 0px;
                                        }
                                        label::after{
                                            content: "*";
                                            position: absolute;
                                            font-size: 12px;
                                            color: #262626;
                                            right: 0px;
                                        }
                                        input{
                                            width: 100%;
                                            max-width: initial !important;
                                            border: 0.5px solid #1A1A1A;
                                            padding: 12px 14px;
                                            font-size: 13px;
                                            color: #9B9B9B;
                                        }
                                        .client-phone-mobile{
                                            display: none;
                                        }
                                        .client-phone-prefix{
                                            display: none;
                                        }
                                        #client-phone1{
                                            display: none;
                                        }
                                        .client-phone-suffix{
                                            display: none;
                                        }
                                    }
                                }
                                .box-client-info-pj{
                                    padding: 0px;
                                    .corporate-title{
                                        margin: 0px;
                                        font-size: 12px;
                                        color: #1A1A1A;
                                        text-decoration: solid;
                                    }
                                    ul{
                                        margin: 0px;
                                        li{
                                            a{
                                                font-size: 12px;
                                                color: #1A1A1A;
                                            }
                                        }
                                    }
                                }
                            }
                            .newsletter{
                                .newsletter-text{
                                    color: #262626;
                                    font-size: 12px;
                                }
                            }
                        }
                        .submit.btn-submit-wrapper{
                            button{
                                width: 100%;
                                font-weight: bold;
                                font-size: 14px;
                                letter-spacing: 1px;
                                color: #FFFFFF;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:640px) {
    #client-profile-data{
        width: 50% !important;
        float: left;
    }
    div#shipping-data.shipping-data{
        width: 48% !important;
        margin-left: 2%;
        margin-bottom: 0 !important;
    }
    
    div#payment-data.payment-data{
        width: 48% !important;
        float: right;
        margin-left: 52%;
        margin-top: 15px;
    }
    
    .orderform-template-holder.payment #payment-data{
        width: 100% !important;
        margin-left: 0;
        margin-top: 15px;
    }
    .orderform-template-holder.profile #payment-data{
        margin-left: 0;
        margin-top: 15px;
    }
}
