#client-profile-data,
#shipping-data,
#payment-data{
     border: 1px solid $grayLight !important;
     box-shadow: none;
}
.vtex-omnishipping-1-x-shippingSectionTitle{
    color: $black !important;
    font-size: 12px !important;
    font-weight: 600;
}
.ship-complement,
.ship-reference,
.ship-neighborhood,
.ship-state,
.ship-city,
.ship-receiverName,
.ship-number,
.ship-street label{
    font-size: 12px !important;
}

.orderform-template-holder>div::before{
    order: 1;
}
.custom-cart-template-wrap{
    position: initial !important;
    padding: 0px !important;
    display: flex !important;
    flex-direction: column;
    h2{
        padding: 22px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: #3D3D3D;
        border-bottom: 1px solid #979797 !important;
        margin: 0px;
    }
    ul{
        li{
            a{
                img{
                    width: 60px !important;
                }
            }
            .fn.product-name{
                color: #000;
                letter-spacing: 0.5px;
                font-size: 12px;
            }
            .description{
                flex-direction: column !important;
                align-items: flex-start !important;
                .price.pull-right{
                    font-size: 15px;
                    color: #262626;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
    #go-to-cart-button{
        order: 1 !important;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #262626;
    }
}
@media screen and (min-width:640px) {
    #client-profile-data{
        width: 50% !important;
        float: left;
    }
    div#shipping-data.shipping-data{
        width: 48% !important;
        margin-left: 2%;
        margin-bottom: 0 !important;
    }
    
    div#payment-data.payment-data{
        width: 48% !important;
        float: right;
        margin-left: 52%;
        margin-top: 15px;
    }
    
    .orderform-template-holder.payment #payment-data{
        width: 100% !important;
        margin-left: 0;
        margin-top: 15px;
    }
    .orderform-template-holder.profile #payment-data{
        margin-left: 0;
        margin-top: 15px;
    }
}