@import "default";

@import "fonts.scss";
@import "mixins.scss";
@import "footer.scss";
@import "header.scss";
@import "general.scss";
@import "cards";
@import "breadcrumb";

a{
  color:$darkGray !important;
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background:#f7f7f7;
}