.header-check{
    width: 95%;
    height: 45px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 15px 35px;
    border-bottom: 1px solid $grayLight;
}
.img-logo{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
}
.logo-check{
    width: 155px;
    height: 45px;
}
.text-check{
    display: flex;
    align-items: center;
}
.txt-header{
    font-size: 12px;
    color: #424242;
    font-weight: 300;
}
