$gray:#666666;
$darkGray: #404040;
$grayLight:#b4b0b0;
$white:#ffffff;
$black:#000;
$primary-color:#008CBE;
$primary-color-hover: #43BCF1;

@import "fonts.scss";
@import "mixins.scss";
@import "footer.scss";
@import "header.scss";
@import "general.scss";
@import "cards";
@import "breadcrumb";

a{
  color:$darkGray !important;
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background:#f7f7f7;
}